$icon-sponsor: #ebe9ed;
$alternativ-text-bt-price: #20ac97;
$text-color: #141423;
$title-color: #333333;
$color-gray: #9aa2a6;
$color-white: #ffffff;
$color-list-nav: #3f3a64;
$color-footer: #ffffff; /* todo */


$font-playfair:'Playfair Display' , sans-serif;

.container{
    max-width: 1050px;
    margin: auto;
    padding: 0 10px;
}

img{
    width: 100%;
}

.uppercase{
    text-transform: uppercase;
}

.font-title{
    font-family: $font-playfair;
}
.text-spacing{
    letter-spacing: 1px;
}
.col-gray{
    color: $color-gray;
}

.hover-button{
    cursor: pointer;
    transition: background 0.2s;

    &:hover{
        background-color: $color-list-nav;
    }
}

.text-other-color{
    color: $alternativ-text-bt-price;
}



