$icon-sponsor: #ebe9ed;
$alternativ-text-bt-price: #20ac97;
$text-color: #141423;
$color-gray: #9aa2a6;
$color-white: #ffffff;
$color-list-nav: #3f3a64;
$color-footer: #ffffff; /* todo */


$font-playfair:'Playfair Display' , sans-serif;

.container{
    max-width: 1150px;
    margin: auto;
}

img{
    width: 100%;
}


